.externalWebhookSelector {
  margin-bottom: 1rem; /* 16px */
}

.descriptionText {
  margin-bottom: 1rem; /* 16px */
}

.instructionText {
  margin-bottom: 1rem; /* 16px */
}

.configurationHeader {
  font-weight: 500;
  margin-bottom: 0.75rem; /* 12px */
}

.examplesText {
  margin-top: -0.5rem; /* -8px */
  margin-bottom: 1rem; /* 16px */
}

.testButton {
  margin-top: 0.5rem; /* 8px */
}

.configSection {
  margin-top: 0.5rem; /* 8px */
}
