.autopulseSelector {
  margin-bottom: 1rem; /* 16px */
}

.alertMessage {
  margin-top: 0.5rem; /* 8px */
}

.configCodeBlock {
  max-height: 300px;
  overflow: auto;
}

.configCard {
  margin-top: 1rem; /* 16px */
}

.labelText {
  font-weight: 500;
  margin-bottom: 0.5rem; /* 8px */
}

.instructionText {
  margin-bottom: 1rem; /* 16px */
}

.generateButton {
  margin-bottom: 0.5rem; /* 8px */
}
